@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: content-box;
}

@font-face {
  font-family: 'SairaStencilOne';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
