@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-inter);
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  width: 100%;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_bullet {
  width: 5rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.swiper-button-prev {
  top: 40% !important;
  left: 15px !important;
}

.swiper-button-next {
  top: 40% !important;
  right: 15px !important;
}

.mobile-swiper .swiper-button-prev,
.mobile-swiper .swiper-button-next {
  top: 45% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  color: black !important;
}
