@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

* {
  box-sizing: border-box;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: black !important;
}

.swiper-pagination-bullet {
  background: black !important;
}
