@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira';
  src: url('/fonts/SairaStencilOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

* {
  box-sizing: border-box;
}
